FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy webtundra

Parameters:
  port: $port


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: webtundra::5.1.3_install
    Files:
        - webtundra : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/webtundra

    Options:
      captureStdout: true
      captureStderr: true
