FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy nodejs

Parameters:
  

Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: nodejs::default
    Files:
        - nodejs : https://github.com/redguide/nodejs.git
        - yum-epel : https://github.com/chef-cookbooks/yum-epel.git
        - yum : https://github.com/chef-cookbooks/yum.git
        - build-essential : https://github.com/chef-cookbooks/build-essential.git
        - 7-zip : https://github.com/sneal/7-zip.git
        - windows : https://github.com/chef-cookbooks/windows.git
        - chef_handler : https://github.com/chef-cookbooks/chef_handler.git
        - ark : https://github.com/burtlo/ark.git
        - seven_zip : https://github.com/sneal/7-zip.git
        - apt : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/BaseRecipes/apt/
        - homebrew : https://github.com/chef-cookbooks/homebrew.git

    Options:
      captureStdout: true
      captureStderr: true
