FormatVersion: 2.2.0
Version: 1.0.0
Name: Deploy nodejs

Parameters:
  

Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: nodejs::default
    Files:
        - nodejs : https://github.com/redguide/nodejs.git

    Options:
      captureStdout: true
      captureStderr: true
      useBerkshelf: true
