FormatVersion: 2.2.0
Version: 1.0.0
Name: Deploy keyrock

Parameters:
  port: $port


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: keyrock::0.0.1_install
    Files:
        - keyrock : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/keyrock

    Options:
      captureStdout: true
      captureStderr: true
      useBerkshelf: true
