FormatVersion: 2.2.0
Version: 1.0.0
Name: Deploy django

Parameters:
  

Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: django::default
    Files:
        - django : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/BaseSoftware/django/
        - python : https://github.com/poise/python.git
        - build-essential : https://github.com/chef-cookbooks/build-essential.git
        - seven_zip : https://github.com/daptiv/seven_zip.git
        - windows : https://github.com/chef-cookbooks/windows.git
        - ohai : https://github.com/chef-cookbooks/ohai.git
        - compat_resource : https://github.com/chef-cookbooks/compat_resource.git
        - mingw : https://github.com/chef-cookbooks/mingw.git
        - yum-epel : https://github.com/chef-cookbooks/yum-epel.git
        - yum : https://github.com/chef-cookbooks/yum.git

    Options:
      captureStdout: true
      captureStderr: true
      
