FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy iotDiscovery

Parameters:
  port: $port

Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: iotDiscovery::4.1.1_install
    Files:
        - iotDiscovery : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/iotDiscovery

    Options:
      captureStdout: true
      captureStderr: true
