FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy 2d_ui

Parameters:
  port: $port


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: 2d_ui::4.4.3_install
    Files:
        - 2d_ui : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/2d_ui

    Options:
      captureStdout: true
      captureStderr: true
