FormatVersion: 2.2.0
Version: 1.0.0
Name: Deploy git

Parameters:
  

Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: git::default
    Files:
        - git : https://github.com/chef-cookbooks/git.git

    Options:
      captureStdout: true
      captureStderr: true
      useBerkshelf: true
