FormatVersion: 2.2.0
Version: 1.0.0
Name: Deploy python

Parameters:
  

Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: python::default
    Files:
        - python : https://github.com/hmunfru/python.git

    Options:
      captureStdout: true
      captureStderr: true
      useBerkshelf: true
