FormatVersion: 2.2.0
Version: 1.0.0
Name: Deploy jboss7

Parameters:
  port: $port


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: jboss7::default
    Files:
        - jboss7 : https://github.com/andy-dufour/chef-jboss7.git

    Options:
      captureStdout: true
      captureStderr: true
      useBerkshelf: true
