FormatVersion: 2.2.0
Version: 1.0.0
Name: Deploy orion

Parameters:
  port: $port


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: orion::0.24.0_install
    Files:
        - orion : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/orion

    Options:
      captureStdout: true
      captureStderr: true
      useBerkshelf: true
