FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy spagobi

Parameters:
  port: $port

Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: spagobi::1.0.2_install
    Files:
        - spagobi : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/spagobi
        - mysql : https://github.com/chef-cookbooks/mysql
        - database : https://github.com/chef-cookbooks/database.git
        - postgresql : https://github.com/hw-cookbooks/postgresql.git
        - apt : https://github.com/chef-cookbooks/apt.git
        - build-essential : https://github.com/chef-cookbooks/build-essential.git
        - 7-zip : https://github.com/daptiv/seven_zip
        - openssl : https://github.com/chef-cookbooks/openssl.git
        - chef-sugar : https://github.com/sethvargo/chef-sugar
        - java : https://github.com/cookbooks/java.git

    Options:
      captureStdout: true
      captureStderr: true
