FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy spagobi

Parameters:
  port: $port


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: spagobi::1.0.2_install
    Files:
        - spagobi : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/spagobi
        - mysql : https://github.com/chef-cookbooks/mysql.git
        - database : https://github.com/chef-cookbooks/database.git
        - postgresql : https://github.com/hw-cookbooks/postgresql.git
        - apt : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/BaseRecipes/apt/
        - build-essential : https://github.com/chef-cookbooks/build-essential.git
        - 7-zip : https://github.com/sneal/7-zip.git
        - windows : https://github.com/chef-cookbooks/windows.git
        - chef_handler : https://github.com/chef-cookbooks/chef_handler.git
        - openssl : https://github.com/chef-cookbooks/openssl.git
        - chef-sugar : https://github.com/sethvargo/chef-sugar
        - java : https://github.com/cookbooks/java.git

    Options:
      captureStdout: true
      captureStderr: true
