FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy wstore

Parameters:
  port: $port


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: wstore::0.3.0_install
    Files:
        - wstore : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/wstore
        - build-essential : https://github.com/chef-cookbooks/build-essential.git
        - 7-zip : https://github.com/sneal/7-zip.git
        - windows : https://github.com/chef-cookbooks/windows.git
        - chef_handler : https://github.com/chef-cookbooks/chef_handler.git
        - python : https://github.com/poise/python.git
        - yum-epel : https://github.com/chef-cookbooks/yum-epel.git
        - yum : https://github.com/chef-cookbooks/yum.git
        - mongodb : https://github.com/edelight/chef-mongodb.git
        - apt : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/BaseRecipes/apt-spagobi/
        - apache2 : https://github.com/svanzoest-cookbooks/apache2.git

    Options:
      captureStdout: true
      captureStderr: true
