FormatVersion: 2.2.0
Version: 1.0.0
Name: Deploy iotDiscovery

Parameters:
  port: $port


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: iotDiscovery::4.1.1_install
    Files:
        - iotDiscovery : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/iotDiscovery
        - java : https://github.com/agileorbit-cookbooks/java.git
        - apt : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/BaseRecipes/apt-spagobi/
        - windows : https://github.com/chef-cookbooks/windows.git
        - ohai : https://github.com/chef-cookbooks/ohai.git
        - compat_resource : https://github.com/chef-cookbooks/compat_resource.git
        - homebrew : https://github.com/chef-cookbooks/homebrew.git
        - build-essential : https://github.com/chef-cookbooks/build-essential.git
        - seven_zip : https://github.com/daptiv/seven_zip.git
        - mingw : https://github.com/chef-cookbooks/mingw.git
        - mysql : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/BaseSoftware/mysql/
        - yum-mysql-community : https://github.com/chef-cookbooks/yum-mysql-community.git
        - tomcat : https://github.com/chef-cookbooks/tomcat

    Options:
      captureStdout: true
      captureStderr: true
      
