FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy ckan

Parameters:
  port: $port


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: ckan::2.3_install
    Files:
        - ckan : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/ckan
        - apt : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/BaseRecipes/apt/
        - git : https://github.com/chef-cookbooks/git.git
        - build-essential : https://github.com/chef-cookbooks/build-essential.git
        - 7-zip : https://github.com/sneal/7-zip.git
        - windows : https://github.com/chef-cookbooks/windows.git
        - chef_handler : https://github.com/chef-cookbooks/chef_handler.git
        - dmg : https://github.com/chef-cookbooks/dmg.git
        - yum-epel : https://github.com/chef-cookbooks/yum-epel.git
        - yum : https://github.com/chef-cookbooks/yum.git
        - python : https://github.com/poise/python.git
        - postgresql : https://github.com/hw-cookbooks/postgresql.git
        - openssl : https://github.com/chef-cookbooks/openssl.git
        - chef-sugar : https://github.com/sethvargo/chef-sugar
        - database : https://github.com/chef-cookbooks/database.git
        - java : https://github.com/cookbooks/java.git

    Options:
      captureStdout: true
      captureStderr: true
