FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy virtualcharacters

Parameters:
  port: $port


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: virtualcharacters::3.3.3_install
    Files:
        - virtualcharacters : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/virtualcharacters

    Options:
      captureStdout: true
      captureStderr: true
