FormatVersion: 2.2.0
Version: 1.0.0
Name: Deploy iotagent

Parameters:
  port: $port
  query_context_path: $query_context_path
  iotagent_server_name: $iotagent_server_name
  iota_protocols: $iota_protocols
  http_proxy_gre: $http_proxy_gre
  iotagent_mongodb_port: $iotagent_mongodb_port
  load_balancer_url: $load_balancer_url
  iota_server_address: $iota_server_address
  update_context_path: $update_context_path
  context_broker_endpoint: $context_broker_endpoint
  iotagent_server_port: $iotagent_server_port
  iotagent_mongodb_host: $iotagent_mongodb_host
  register_context_path: $register_context_path
  iotagent: $iotagent
  iotagent_log_level: $iotagent_log_level


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Puppet
    Version: 1.0.0
    EntryPoint: iotagent::install
    Files:
        - iotagent : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/iotagent
        - monit : https://github.com/echoes-tech/puppet-monit.git
        - stdlib : https://github.com/puppetlabs/puppetlabs-stdlib.git

    Options:
      captureStdout: true
      captureStderr: true
      
