FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy iotagent

Parameters:
  port: $port
  iota::base::http_proxy_gre: $iota::base::http_proxy_gre
  iotagent::context_broker_endpoint: $iotagent::context_broker_endpoint
  iotagent::iotagent_mongodb_host: $iotagent::iotagent_mongodb_host
  iota_protocols: $iota_protocols
  iotagent::iotagent_mongodb_port: $iotagent::iotagent_mongodb_port
  iotagent::iotagent_server_name: $iotagent::iotagent_server_name
  iotagent::iotagent_server_port: $iotagent::iotagent_server_port
  iotagent::iotagent_log_level: $iotagent::iotagent_log_level
  iota::ngsi::query_context_path: $iota::ngsi::query_context_path
  iota::ngsi::register_context_path: $iota::ngsi::register_context_path
  iota::ngsi::update_context_path: $iota::ngsi::update_context_path
  iotagent::iota_server_address: $iotagent::iota_server_address
  iota::ngsi::load_balancer_url: $iota::ngsi::load_balancer_url
  iotagent: $iotagent


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Puppet
    Version: 1.0.0
    EntryPoint: iotagent::install
    Files:
        - iotagent : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/iotagent
        - monit : https://github.com/echoes-tech/puppet-monit.git
        - stdlib : https://github.com/puppetlabs/puppetlabs-stdlib.git

    Options:
      captureStdout: true
      captureStderr: true
