FormatVersion: 2.2.0
Version: 1.0.0
Name: Deploy 2D3DCapture

Parameters:
  port: $port


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: 2D3DCapture::3.3.3_install
    Files:
        - 2D3DCapture : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/2D3DCapture

    Options:
      captureStdout: true
      captureStderr: true
      
