FormatVersion: 2.2.0
Version: 1.0.0
Name: Deploy cloud_portal

Parameters:
  port: $port


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: cloud_portal::default
    Files:
        - cloud_portal : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/cloud_portal

    Options:
      captureStdout: true
      captureStderr: true
      useBerkshelf: true
