FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy poi_dp

Parameters:
  port: $port

Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: poi_dp::4.4.3_install
    Files:
        - poi_dp : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/poi_dp

    Options:
      captureStdout: true
      captureStderr: true
