FormatVersion: 2.2.0
Version: 1.0.0
Name: Deploy synchronization

Parameters:
  port: $port


Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: synchronization::5.4.3_install
    Files:
        - synchronization : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/synchronization

    Options:
      captureStdout: true
      captureStderr: true
      
