FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy r

Parameters:
  

Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: r::default
    Files:
        - r : https://github.com/stevendanna/cookbook-r.git
        - apt : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/BaseRecipes/apt/
        - ark : https://github.com/burtlo/ark.git
        - build-essential : https://github.com/chef-cookbooks/build-essential.git
        - 7-zip : https://github.com/sneal/7-zip.git
        - windows : https://github.com/chef-cookbooks/windows.git
        - chef_handler : https://github.com/chef-cookbooks/chef_handler.git
        - seven_zip : https://github.com/sneal/7-zip.git
        - readline : https://github.com/cookbooks/ap-cookbook-readline.git

    Options:
      captureStdout: true
      captureStderr: true
