FormatVersion: 2.2.0
Version: 1.0.0
Name: Deploy r

Parameters:
  

Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: r::default
    Files:
        - r : https://github.com/stevendanna/cookbook-r.git

    Options:
      captureStdout: true
      captureStderr: true
      useBerkshelf: true
