FormatVersion: 2.1.0
Version: 1.0.0
Name: Deploy augmentedreality

Parameters:
  port: $port

Body: |
  return executeRecipe(args).stdout

Scripts:
  executeRecipe:
    Type: Chef
    Version: 1.0.0
    EntryPoint: augmentedreality::3.3.3_install
    Files:
        - augmentedreality : https://forge.fiware.org/scmrepos/svn/testbed/trunk/cookbooks/GESoftware/augmentedreality

    Options:
      captureStdout: true
      captureStderr: true
